<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cquant.lizone" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".LizoneApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:autoRemoveFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OpenFirmAccountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AccountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HomepageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
        android:name=".activity.KPointActivity"
        android:hardwareAccelerated="true"
        android:screenOrientation="portrait" >
     </activity>
        <activity
            android:name=".activity.NewsPageActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.OpenPositionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EventActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.WebPageActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PersonalActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MyPointActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EditOptActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FollowSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ViewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".service.UpdateConfigService" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data android:name="QBSDKAppKey" android:value="ygEYJWnBBkFzVaq3J+DpNr2o"/>


        <meta-data android:value="56a1a090e0f55ac261000a8f" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="ME" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>
